.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 1 1 8px rgba(131, 131, 131, 0.1);
  margin: 10px;
  position: relative;
  i {
    position: absolute;
    right: 20px;
    bottom: 0px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

.cards{
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  padding: 20px;
  text-align: justify;
  box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.2);
  border: 0;
  color: #212121;

  h2 {
    text-align: center;
  }
  img {
    margin: auto;
    width: 200px;
  }
}

// @media screen and (max-width: 992px) {
//   .column {
//     width: 50%;
//   }
// }

// @media screen and (max-width: 600px) {
//   .column {
//     width: 100%;
//   }
// }
